body {
    background-color: $main-color;
    color: $txt-color;
    font-family: MyriadProCondensed, sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: unset;
    display: inline-block;
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
    object-fit: cover;
}

*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;    
}